<% title "Sign up" %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address(xxx@xxxxxxx.com)" %><br />
    <%= f.text_field :email %>
  </p>
    <p>
      <%= f.label :phone, "Phone Number(xxx-xxx-xxxx)" %><br />
      <%= f.text_field :phone %>
    </p>
  <p>
    <%= f.label :password, "Enter a password greater than 4 characters" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Sign up" %></p>
<% end %>
